:root {
    --green: #1DB954;
    --cream: #F4D6A8;
    --border: #3D2f1a;
    --text: black;

    background-color: var(--green);
}
*
body {
    background-color: var(--green);
    background-image: linear-gradient(45deg, #045721 15%, #1DB954 50%, #02491bef 60%);
}

header {
    color: var(--text);
    margin-right: 700px;
    margin-bottom:100px;
    border: inset;
    border-width: 5px;
    border-style: round;
    border-color: var(--border);
}

p {
    margin-right: 50px;
    margin-bottom: 100px;
    font-size: 20px;
}

img {
    /* position: relative; */
    flex-wrap: wrap;
    max-width: 70%;
    max-height:70%;
    /* margin-top: 20px; */
    float: right;
    clear: bottom; 
    
}

.image {
    position: absolute;
    right: -58px;
    top: -65px;
}

.translate {
    background-image: linear-gradient(57deg, #f7cf94 15%, #f1b459 90%);
    margin-right: 1100px;
    margin-bottom: 150px;
    color: var(--text);
    border: solid;
    border: inset;
    border-width: 5px;
    border-color: var(--border);
}

.translate h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.lyrics {
    background-image: linear-gradient(57deg, #f7cf94 15%, #f1b459 90%);
    float: right;
    margin-right: 300px;
    margin-top: -300px;
    border: solid;
    border: inset;
    border-width: 5px;
    border-color: var(--border);
    padding-top: -10px;
    padding-bottom: -35px;
}

#songName {
    border: solid;
    border: inset;
    border-width: 5px;
    background-color: var(--cream);
    border-color: var(--border);
}

#myModal {
    width: 100%;
    padding: 0 1000px 0 0;
}


footer {
    background-image: linear-gradient(57deg, #f7cf94 15%, #f1b459 90%);
    background-color: var(--cream);
    margin: 0 0 150 0;
    color: black;
    border: solid;
    border: inset;
    border-width: 5px;
    border-color: var(--border);
    padding-bottom: 100px;
}
